@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Remove default margin */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
li {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

body {
  min-height: 100vh;
  place-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-rendering: optimizeSpeed;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-weight: 200;
  overflow: auto;
  background: #000;
  animation: fadeInAnimation 2s ease-out 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  display: none;
}
#thpace {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  margin: 0;
}
h1,
h4 {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  padding: 1rem 1.4rem;
  border-radius: 0.4rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
svg {
  background-color: #000;
  border-radius: 0.5rem;
  border: 1px solid #fff;
}
#title {
  font-size: 1.6rem;
  fill: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
#legend {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem auto;
}
g {
  color: #fff;
  font-size: 1rem;
}
.dot:hover {
  fill: #fff;
}

#tooltip {
  visibility: hidden;
  width: auto;
  height: auto;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 0.4rem;
  padding: 0.6rem 1.2rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
